@import "styles/settings/__settings";

 .highHero {
  height: 75vh;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(33, 214, 106, 0.5) 0%, rgba(26, 87, 160, 0.5));

  h1 {
    text-align: center;
    color: white;
  }
}

.description {
  text-align: center;
  line-height: 1.5;
  font-size: 1.5rem;
}

.productWrapper {
  .products {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1.5rem;
    list-style: none;
  }
}

.postWrapper {
  .posts {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1.5rem;
    list-style: none;
    padding: 0;
  }
}

